body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #20175d;
  background-image: url('pet-rescue/img/img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 8em;
}

/* Your other CSS styles */
